<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacts</title>

    <link type="text/css" rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/fontawesome/css/all.min.css">
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>

<body class="bg-secondary">
    <div class="container-fluid" id="app">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card mt-2">
                    <div class="card-content" v-cloak>
                        <form action="" @submit.prevent="saveContact()">
                            <div class="card-body">
                                <h3>{{(contact.id.length != 0)? 'Editar ':'' }}Contatos</h3>
                                <div class="alert alert-danger" role="alert" v-if="showError">
                                    {{errorMessage}}
                                </div>
                                <div class="form-group">
                                    <label for="">Nome:</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="Nome"
                                        v-model="contact.nome">
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Telefone:</label>
                                        <div class="input-group input-group-sm mb-3">
                                            <input type="text" class="form-control" placeholder="Telefone"
                                                v-model="telefone" aria-label="Telefone"
                                                aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button @click="addTelefone" class="btn btn-primary" type="button"> <i
                                                        class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">E-mail:</label>
                                        <div class="input-group input-group-sm mb-3">
                                            <input type="email" class="form-control" placeholder="E-mail"
                                                aria-label="E-mail" aria-describedby="basic-addon2" v-model="email">
                                            <div class="input-group-append">
                                                <button @click="addEmail" class="btn btn-primary" type="button"> <i
                                                        class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <table class="table table-sm text-center">
                                            <tr v-for="tel in contact.telefones">
                                                <td>{{tel.numero}}</td>
                                                <td><button class="btn btn-sm btn-danger" type="button"
                                                        @click="removeTelefone(tel.numero)"><i
                                                            class="fas fa-times"></i></button></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table table-sm text-center">
                                            <tr v-for="email in contact.emails">
                                                <td>{{email.endereco}}</td>
                                                <td><button class="btn btn-sm btn-danger" type="button"
                                                        @click="removeEmail(email.endereco)"><i
                                                            class="fas fa-times"></i></button></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex flex-row-reverse">
                                <button class="btn btn-sm btn-danger" type="button"
                                    @click="cancelEdit()">Cancelar</button>
                                <button 
                                    class="btn btn-sm mr-2" 
                                    :class="(contact.id.length != 0)? 'btn-warning ':'btn-primary'"
                                    type="submit"
                                >{{(contact.id.length != 0)? 'Editar ':'Adicionar' }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-sm table-striped table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>Contato</th>
                                    <th>Telefones</th>
                                    <th>E-mails</th>
                                    <th>-</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="con in contacts" v-cloak>
                                    <td class="align-middle">{{con.nome}}</td>
                                    <td class="align-middle">
                                        <ul style="list-style-type:none;">
                                            <li v-for="tel in con.telefones">
                                                {{tel.numero}}
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="align-middle">
                                        <ul style="list-style-type:none;">
                                            <li v-for="email in con.emails">
                                                {{email.endereco}}
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="align-middle">
                                        <button type="button" class="btn btn-sm btn-warning"
                                            @click="getContacts(con.id)"> <i class="fas fa-edit"></i> </button>
                                        <button type="button" class="btn btn-sm btn-danger"
                                            @click="removeContact(con.id)"> <i class="fas fa-trash"></i> </button> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="css/fontawesome/js/all.min.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="js/contatos.js"></script>
</body>

</html>